/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;margin-top: -75px;position: absolute;z-index: 100;}
ol.bjqs-markers li{display:inline;margin:0px 5px;}
ol.bjqs-markers li a{display:inline-block;color:transparent;background:#b8b8b8;border-radius:50px;width:10px;height:10px;}
p.bjqs-caption{display:block;width:100%;height:80px;margin:0;padding:2%;position:absolute;bottom:0;background:#333;color:#FFF;}
.bjqs-slide span{display:block;width:100%;height:80px;margin:0;padding:2%;position:absolute;bottom:0;background:#333;color:#FFF;}
.bjqs-slide >span > h1{margin-top:5px;margin-bottom:5px;}
ol.bjqs-markers li.active-marker a{background:#333;border:1px solid red;width:13px;height:13px;}

/* News slider */
#news-slide > ul > li  > span{display:block;width:245px;height:100%;margin:0;padding:2%;position:absolute;top:0;background:#333;color:#FFF;}
#news-slide > ol  {text-align:left;margin-top: -30px;margin-left: 20px;}

/* Side top banner slider */
#side-topbanner-slide{margin-bottom:20px;}
#side-topbanner-slide > ul > li  > span{display:block;width:200px;height:100%;margin:0;padding:0px 20px;position:absolute;top:0;right:0px;background:#333;color:#FFF;}
#side-topbanner-slide > ul > li  > span > h3 {font-family:MyriadPro-Bold;font-size:16px;font-weight:bold;color:#FFF;}
#side-topbanner-slide > ul > li  > span > p {font-size:15px;color:#676767;}
#side-topbanner-slide > ol  {text-align:right;margin-top: -30px;padding-right: 30px;}

/* Landing main slider */
#landing-main-slide > ol{text-align:right;margin-top: -70px;padding-right: 30px;}

/* Landing sidebanner slider */
#landing-sidebanner-slide {margin-bottom:30px;}
#landing-sidebanner-slide  > ol  {text-align:right;margin-top: -70px;padding-right: 30px;}