.main {width:290px;color:#404041;}
.month {	height:30px;font-family: 'MyriadPro-Bold';font-size: 16px;font-weight: bold;}
.daysofweek {height:30px;color:#333;font-family: 'MyriadPro-Bold';font-size: 14px;font-weight: bold;}
.days {height:30px;padding: 2px;font-size: 14px;}
.days #today{font-family: 'MyriadPro-Bold';font-size: 20px;font-weight: bold;}