@font-face {
    font-family: 'MyriadPro-Bold';
	src: url('../fonts/myriad-pro/MyriadPro-Bold.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Bold.eot?iefix') format('embedded-opentype'), 
         url('../fonts/myriad-pro/MyriadPro-Bold.ttf') format('truetype'),
         url('../fonts/myriad-pro/MyriadPro-Bold.woff') format('woff'),
         url('../fonts/myriad-pro/MyriadPro-Bold.svg#MyriadPro-Bold') format('svg'),
         url('../fonts/myriad-pro/MyriadPro-Bold.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Light';
	src: url('../fonts/myriad-pro/MyriadPro-Light.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Light.eot?iefix') format('embedded-opentype'), 
         url('../fonts/myriad-pro/MyriadPro-Light.ttf') format('truetype'),
         url('../fonts/myriad-pro/MyriadPro-Light.woff') format('woff'),
         url('../fonts/myriad-pro/MyriadPro-Light.svg#MyriadPro-Light') format('svg'),
         url('../fonts/myriad-pro/MyriadPro-Light.otf');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/myriad-pro/MyriadPro-Regular.eot');
    src: url('../fonts/myriad-pro/MyriadPro-Regular.eot?iefix') format('embedded-opentype'), 
         url('../fonts/myriad-pro/MyriadPro-Regular.ttf') format('truetype'),
         url('../fonts/myriad-pro/MyriadPro-Regular.woff') format('woff'),
         url('../fonts/myriad-pro/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg'),
         url('../fonts/myriad-pro/MyriadPro-Regular.otf');
    font-weight: normal;
    font-style: normal;
}
body{font-family:'MyriadPro-Light','MyriadPro-Bold','MyriadPro-Light';}
body {-webkit-background-size: cover;-moz-background-size: cover;-o-background-size: cover;background-size: cover;padding-top:0px;}

h1{font-size:26px;}
h2{font-size:22px;}
h3{font-size:18px;}
h4{font-size:18px;}
h5{font-size:16px;}

a{color:#333;}
a:hover{color:inherit;}
a, a:hover{text-decoration:none;}
ul{padding:0px;}
ul li{list-style-type: none;margin: 0;padding: 0;}

.text-white {color: #ffffff;}
.text-black {color: #333;}
.text-grey  {color: #5e5e5e;}
.text-red   {color: #c03b2b;}

.text-bold{font-family:'MyriadPro-bold';font-weight:bold;}

.border-bottom{width:100%;border-bottom:1px solid #000;}
.border-bottom-grey{width:100%;border-bottom:1px solid #5e5e5e;margin-bottom: 15px;}
.border-bottom-shortcut{width:100%;border-bottom:1px solid #b8b8b8;margin-bottom: 0px;}

/* Input style */
.form-control{font-size:18px;}
#search_content.placeholder-white::-webkit-input-placeholder{color:#fff;}
#people_finder.placeholder-white::-webkit-input-placeholder{color:#fff;}
.search-btn {cursor:pointer;background:url(../img/search.png) 0px 4px no-repeat;width:25px; height :25px;}

/* Background class */
.morning{background: url(../img/1980x1300pxbg-morning6am-12pm.jpg) no-repeat center center fixed;}
.afternoon{background: url(../img/1980x1300pxbg-afternoon12-7pm.jpg) no-repeat center center fixed;}
.night{background: url(../img/1980x1300pxbg-night7pm-6am.jpg) no-repeat center center fixed;}

/* Header and Nav menu */
.header-info-left{height:20px;font-size:10px;color:#6d6e70;font-family:MyriadPro-Bold;font-weight:bold;margin-top:10px;}
.header-info-right{height:15px;font-size:12px;color:#000000;font-weight:bold;margin-top:15px;}
.navbar-toggle{background-color:#333;}
.nav{font-size:20px;}
.navbar{background:url(../img/bg-header.png);border-radius:0px;border:none;margin-bottom:0px;}
.nav-tabs{border-bottom:1px solid #c03b2b;color:#737373;}
.nav-tabs>li>a{border:none;}
.nav-tabs>li:hover{border:none;}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{background-color:#c03b2b;color:#FFF;border-top-left-radius:10px;border-top-right-radius:10px;}
.navbar{min-height:114px;}
.navbar-brand{height:10px;padding-top:45px;padding-bottom:10px;}
.navbar-nav{padding-top:45px;}
.navbar-nav>li{border-top-left-radius:10px;border-top-right-radius:10px;}
.navbar-nav>li>a{padding-top:10px;padding-bottom:10px;}
.navbar-inverse .navbar-nav>li>a {color:#c03b2b;}
.navbar-change{background:#FFF;}
ul.navbar-nav > li.active{font-family:MyriadPro-Bold;font-weight:bold;}
.navbar-inverse .navbar-nav>li>a:hover, .navbar-inverse .navbar-nav>li>a:focus{color:transparent;background:transparent;}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:hover, .navbar-inverse .navbar-nav>.active>a:focus {	color: transparent;background-color: transparent;}
.megamenu-focus {background-color: #e2e3e4;border-top-left-radius:10px;border-top-right-radius:10px;}
.news{background:url(../img/news.png) center center no-repeat;min-width: 85px;height: 40px;}
.news-link{background:url(../img/news-hover.png)no-repeat ;background-position: center center ;background-color: #e2e3e4;color:transparent;}
.resources-center{background:url(../img/resources-centre.png) center center no-repeat ;min-width: 180px;height: 40px;}
.resources-center-link{background:url(../img/resource-centre-hover.png)center center no-repeat #e2e3e4;}
.functions{background:url(../img/functions.png) center center no-repeat;min-width: 120px;height: 40px;}
.functions-link{background:url(../img/functions-hover.png)no-repeat ;background-position: center center ;background-color: #e2e3e4;}
.communities{background:url(../img/communities.png) center center no-repeat;min-width: 150px;height: 40px;}
.communities-link{background:url(../img/communities-hover.png)no-repeat ;background-position: center center ;background-color: #e2e3e4;}
.initiatives{background:url(../img/initiatives.png) center center no-repeat;min-width: 140px;height: 40px;}
.initiatives-link{background:url(../img/initiatives-hover.png)no-repeat ;background-position: center center ;background-color: #e2e3e4;}
.workspace{background:url(../img/workspace.png) center center no-repeat;min-width: 140px;height: 40px;}
.workspace-link{background:url(../img/workspace-hover.png)no-repeat ;background-position: center center ;background-color: #e2e3e4;}
.welcome-user-msg{padding-left:2px;margin-top:40px;}
.user-dropdown{padding-top:15px;height: 85px;}

/* shortcut menu btn */
.shortcut-apps{width:40px;height:40px;background:url(../img/shortcut-menu.png) center center no-repeat;margin-top:20px;border-radius:50px;margin-right:5px;border:1px solid #f9bf37;}
.shortcut-apps-hover{width:40px;height:50px;background:url(../img/shortcut-menu.png) center 14px no-repeat #e2e3e4;margin-top:20px;border-top-left-radius:25px;border-top-right-radius:25px;margin-right:5px;}

.shortcut-search{width:40px;height:40px;background:url(../img/search.png) center center no-repeat;border:1px solid #f9bf37;margin-top:20px;border-radius:50px;margin-right:10px;}
.shortcut-search-hover{width:40px;height:50px;background:url(../img/search.png) center 9px no-repeat #e2e3e4;margin-top:20px;border-top-left-radius:25px;border-top-right-radius:25px;margin-right:10px;}

.shortcut-userprofile{padding:6px;margin-top:35px;border:none;border-radius:0px;background:transparent;}
.shortcut-userprofile-menu{border:none;border-radius:0px;margin:0px;width:250px;}

/* shortcut dropdown menu 1 */
.shortcut-menu{background:#e2e3e4;height:min-height:100px;display:none;}
.myapps-shortcut{border-bottom:1px solid #b8b8b8;}
.myapps-shortcut span{background:url(../img/minus-bullet.png) 0px 2px no-repeat;margin-top:20px;padding-left:20px;}
.myapps-shortcut-details{border-right:1px solid #b8b8b8;}
.myapps-shortcut-details > div > div > img{padding-right:5px;}

.mysites-shortcut{border-bottom:1px solid #b8b8b8;}
.mysites-shortcut span{background:url(../img/minus-bullet.png) 0px 2px no-repeat;margin-top:20px;padding-left:20px;}
.mysites-shortcut-details > div{height:200px;}
.mysite-bg{padding:5px 20px;}

.icon-details{padding:10px;}
.icon-details .shortcut-icon {font-family:MyriadPro-Light;font-size:12px;margin-bottom:5px;}
.shortcut-icon {color:#c03b2b;padding-top:20px;cursor:pointer;}
.icon{padding-bottom:10px;}


/* shortcut dropdown menu 2 */
.shortcut-menu2{background:#e2e3e4;padding:20px 30px;display:none;}
.shortcut-menu2 h1{font-family:MyriadPro-Light;font-size:20px;margin-bottom:5px;}

.shortcut-find-content{padding:10px 20px;}
.shortcut-find-content > input{color:#5e5e5e;font-size:20px;width:250px;}

.shortcut-looking-someone{padding:10px 20px;}
.shortcut-looking-someone > input{color:#5e5e5e;font-size:20px;width:250px;}

/* Mega menu */
.megamenu{width:100%;min-height:480px;padding:20px;background:#e2e3e4;}
.dropmenu{margin-bottom:20px;display:block;background:#e2e3e4;display:none;}
.megamenu-title{font-size:26px;line-height:14px;}
.megamenu-column{padding:8px 20px 20px 15px;}
ul.megamenu-link{font-family:'MyriadPro-bold';font-size:16px;color:#5d5d5d;padding-top:15px;width:205px;}
ul.megamenu-link li{padding:5px 5px 5px 0px;border-bottom:1px solid #a0a0a1;color:#5d5d5d;}
ul.megamenu-link li a{color:#5d5d5d;line-height:14px;}
.megamenu-link-sub{padding:0px 0px 0px 15px;}
.megamenu-link-sub ul{font-family:'MyriadPro-light';font-size:14px;color:#5d5d5d;padding:5px 0px 10px 0px;width:185px;}
.megamenu-link-sub ul li{padding:1.5px;border-bottom:1px solid #a0a0a1;color:#5d5d5d;}
.megamenu-link-sub ul li a{color:#a0a0a1;line-height:14px;}
.megamenu-title-sub{font-family:'MyriadPro-bold';font-size:16px;color:#5d5d5d;line-height:12px;border-bottom:1px solid #a0a0a1;padding:0px 5px 10px 0px;width:210px;}
.megamenu-link-sub-right{padding:0px 20px 20px 0px;}
.megamenu-link-sub-right ul{font-family:'MyriadPro-light';font-size:14px;color:#5d5d5d;padding:5px 0px 10px 0px;width:185px;}
.megamenu-link-sub-right ul li{padding:1.5px;border-bottom:1px solid #a0a0a1;color:#5d5d5d;}
.megamenu-link-sub-right ul li a{color:#a0a0a1;line-height:14px;}
.megamenu-title-sub-right{font-family:'MyriadPro-bold';font-size:16px;color:#5d5d5d;line-height:12px;border-bottom:1px solid #a0a0a1;padding:0px 5px 10px 0px;width:185px;}
.megamenu-divider-sub{width:185px;height:24px;}

/* Side bar right */
.currency{background:url(../img/gt-icon-black.png) 35px 8px no-repeat #e2e3e4;height:32px;padding:5 5 5 5;font-family:'MyriadPro-Bold';font-size:20px;cursor:pointer;}
.currency-drop{background:#e2e3e4;height:20px;padding:0px;font-family:'MyriadPro-Light';font-size:13px;position: absolute;min-width: 290px;}
.home-input{background-color:transparent;border:0px;webkit-box-shadow: none;box-shadow:none;height:35px;}
.home-input::-webkit-input-placeholder {color:#000;}
.home-input:focus::-webkit-input-placeholder {outline: none !important;-webkit-appearance: none;}
input:focus {outline:none;}
.form-control:focus {border-color: #000;outline: none;-webkit-box-shadow: none;box-shadow: none;}

/* Search content sidebar in homepage */
.search-content-sidebar {margin-top:30px;}
.search-content-sidebar > div > div:last-child{font-size:12px;color:#2c2c2c;margin-top:5px;}
.search-content-sidebar > div > div:first-child > input{width:260px;}

/* People finder sidebar in homepage*/
.people-finder-sidebar > div > div:last-child{font-size:12px;color:#2c2c2c;margin-top:5px;}
.people-finder-sidebar > div > div:first-child > input{width:260px;}


/* My Sites  ul sidebar */
ul.mysites-ul  {overflow:hidden;}
ul.mysites-ul > li{padding:8px 10px 8px 25px;}
ul.mysites-ul > li > a{padding:5px 10px 5px 25px;position:relative;z-index:1;background:url(../img/gt-icon-black.png) 5px 6px no-repeat;}
ul.mysites-ul > li.odd{background:rgba(204,206,207,0.6);}
ul.mysites-ul > li.even{background:rgba(255,255,255,0.5);}

/* My Icon sidebar */
.myapps-icon > div {padding:10px;width:106px;height:140px;}
.myapps-icon > div > span {display: block;}
.myapps-icon > div > select{font-size:12px;height:18px;width:38px;padding:1px;border-radius:0px;}
.myapps-icon-main{color:#333;font-size:14px;height:650px;overflow-y:scroll;margin: 20px 0px 60px 0px;}
.myapps-icon-main > div{padding:10px;}
.myapps-all-icon{float: none;margin: 0 auto;}
div.mysite-even{background:url(../img/mysite-bg-stripe.png)repeat-x;width:100%;height:31px;}
div.mysite-odd{background:#FFF;width:100%;height:31px;}
div.icon-home{cursor: pointer;padding: 10px;font-size: 12px; color: #C03B2B;}

/* Current event div */
div.current-event-details{height:251px;display:block;font-size:16px;}
.event-title{font-family:'MyriadPro-Bold';font-size:16px;font-weight:bold;}
div.transparent-bg{position:relative;width:100%;height:250px;background:#FFF;opacity: 0.4;filter: alpha(opacity=40);z-index:-100;}
div.scroll-event-details{position:relative;top:-240px;width:98%;height:220px;z-index:1;overflow-x:hidden;}
span.row {display:block;padding-left:30px;}
.even {background:#fff6d9;width: 102%;}
.odd {background:none;}
div.scroll-event-details::-webkit-scrollbar {width: 0.25em;}
div.scroll-event-details::-webkit-scrollbar-track {background-color: #cccecf;}
div.scroll-event-details::-webkit-scrollbar-thumb {background-color: #f8b413;outline: 1px solid #f8b413;}
div.calender{background:url(img/transparent-bg.png);position: relative;top: -240px;}
.calender-outline{height:250px;}
.sendfeedback-btn{background:#333333 url(../img/arrow-feedback-btn.png) no-repeat 395px 20px;color:#cccecf;padding:10px 5px 10px 15px;font-size:20px;}
.wanttodo-btn{background:#333333 url(../img/arrow-feedback-btn.png) no-repeat 395px 20px;color:#cccecf;padding:10px 5px 10px 15px;font-size:20px;}

/* Breadcrumb */
.breadcrumb{background-color:transparent;font-size:12px;}
.breadcrumb span{font-family:MyriadPro-Bold;font-weight:bold;font-size:12px;}

/* Footer */
.footer{padding-top:10px;}
.footer{background:#333333;color:#b8b8b8;}
.footer-logo{padding-top:10px;}
.footer-logo > img {padding:0px 10px 10px 0px;}
.footer-side-link{padding-top:10px;}
.footer-nav-link-section{margin-top:15px;margin-bottom:15px;}
.footer-link{margin-top: 15px;}
.footer-link ul {list-style-type: none;margin: 0;padding: 0;}
.footer-link li{display:inline;padding-left:10px;}
.footer-link li a{color:#5e5e5e;font-family:'MyriadPro-Bold';font-size:12px;font-weight:bold;}
.footer-nav-link{list-style-type: none;margin: 0;padding: 0;font-family:'MyriadPro-light';font-size:12px;}
.footer-nav-link li a{color:#b8b8b8;}
.footer-nav-link-title{font-family:'MyriadPro-Bold';font-size:14px;font-weight:bold;color:#b8b8b8;}
.copyright-section{margin-top:15px;margin-bottom:15px;}
.copyright{font-size:10px;color:#5e5e5e;}
.copyright > span {vertical-align:bottom; padding-right:10px;}

/* Trading news summary in news */
.trading-news-summary{padding:0px 0px 20px 0px;width:310px;}
.trading-news-summary > img {display: block;}
.trading-news-summary > div > span {display: block;}

/* Accordion in news */
.accordion { margin: 0px;padding-bottom:40px; }
.accordion dt{padding:2px 15px;border-radius: 25px;font-size:16px;color:#6d6e70;background:url(../img/add-icon.png) right 10px center  no-repeat #e2e3e4;margin-top:10px;margin-bottom:10px; }
.accordion dd {padding:5px 15px;}
.accordion dt:last-of-type, .accordion dd:last-of-type {}
.accordion dt a, .accordion dd a { display: block; color: #6d6e70; font-weight: bold; }
.accordion dd { border-top: 0; font-size: 14px; }
.accordion-active {background-color:#f8b413;background:url(img/substract-icon.png) right 10px center  no-repeat #f8b413;}
.accordion-details li{background:url(../img/gt-icon.png) 1px center no-repeat;padding:0px 15px;}

.sitemap-add-url{background:#dadadb;border:none;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.sitemap-add-url:focus{border:none;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.sitemap-add-url-btn{background:url(../img/plus-bullet-grey.png)10px 10px no-repeat #dadadb;border:1px solid #dadadb;-moz-border-radius: 0px;-webkit-border-radius: 0px;border-radius: 0px;}
.sitemap-add-url-btn:focus, .sitemap-add-url-btn:hover{background:url(../img/plus-bullet-grey.png)10px 10px no-repeat #dadadb;border:1px solid #dadadb;}
.sitemap-subheader{font-family:MyriadPro-Bold;font-weight:bold;font-size:14px;color:#2c2c2c;border-bottom:2px solid #cccccc;display:block;padding:5px 0px;}

.sitemap-ulist{padding-top:10px;}
.sitemap-ulist li {font-size:12px;color:#2c2c2c;padding:3px 0px;}
.sitemap-ulist span.sitemap-sub-title{font-family:'MyriadPro-bold';font-size:12px;color:#2c2c2c;}

.sidebar-right-mysites{display:block;}
.sidebar-right-myapps{display:none;}
.sidebar-right-mypeople-directory{display:none;}

/* Table */
.table-bordered>thead>tr>th, .table-bordered>thead>tr>td{border:none;vertical-align:bottom;}
table>tbody{cursor:pointer;}
table th{font-family:MyriadPro-Bold;font-weight:bold;font-size:14px;color:#2c2c2c;}
table td{font-size:12px;color:#2c2c2c;height:50px;}
.table>thead>tr>td.select, .table>tbody>tr>td.select, .table>tfoot>tr>td.select, .table>thead>tr>th.select, .table>tbody>tr>th.select,
.table>tfoot>tr>th.select, .table>thead>tr.select>td, .table>tbody>tr.select>td, .table>tfoot>tr.select>td, .table>thead>tr.select>th,
.table>tbody>tr.select>th, .table>tfoot>tr.select>th{background-color: #c03b2b;color: #FFF;}

.profile-pic{width:100px;border:2px solid #f9bf35;border-radius: 100px;overflow:hidden;}
.personal-details{padding:10px 0px;}
.personal-details span{display:block;padding:2px 10px 2px 25px;}
.personal-tag{height:30px;background:#2c2c2c;color:#FFF;border:1px solid #b2b1b1;padding:5px 10px;margin:2px 5px 2px 0px;cursor:pointer;}

.mysites-details >select{background:transparent;}
.mysites-details >select:focus{border:1px solid #CCC;}
.mysites-details >select option{background:#b8b8b8;}
.mysites-details-bg{background:url(../img/mysites-details-bg.png) repeat;}

/* Feedback slide in homepage */
.feedback-form {position:absolute;height:250px;width:100%;z-index:5;bottom:33px;padding-right:30px;display:none;color:#cccecf;}
.feedback-form > div{background:#333;padding:15px 20px;}
.feedback-form > div > ul > li {padding:10px;}
.feedback-form > div > ul > li > a{color:#CCCECF;}
.wanttodo-form {position:absolute;height:250px;width:100%;z-index:5;bottom:33px;padding-right:30px;display:none;color:#cccecf;}
.wanttodo-form > div{background:#333;padding:15px 20px;}
.wanttodo-form > div > ul > li {padding:10px;}
.wanttodo-form > div > ul > li > a{color:#CCCECF;}

.side-banner  > li {border-bottom:1px solid #c2c2c2;padding:5px 0px;}
.side-banner  > li > a{font-size:14px;color:#5d5d5d;}
.side-banner  > li:first-child > a {font-family:MyriadPro-Bold;font-size:16px;font-weight:bold;color:#c54245;}

/* Happening section in homepage */
.happening{background:#333333;height:80px;padding:5px 15px;}
.next-btn-happening{background:url(../img/left-right-arrow.png)-25px 8px no-repeat;width:25px;cursor:pointer;}
.prev-btn-happening{background:url(../img/left-right-arrow.png)0px 8px no-repeat;width:25px;cursor:pointer;}

.remove-this{font-size:12px;height:18px;vertical-align:bottom;}

/* add icon btn in sitemap */
.add-icon{text-decoration: underline;cursor:pointer;}

/* add 20px gap between element */
.divider-bottom{height:20px;width:100%;}
/* add border to element */
.bordered{border-bottom: 1px solid #000;}

/* plus button rigth position*/
.view-btn{position: absolute;right: 0px;background: url(../img/plus-bullet.png) 0px 5px no-repeat;width: 70px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}

/* minus button rigth position*/
.edit-btn{position: absolute;right: 0px;background: url(../img/minus-bullet.png) 0px 5px no-repeat;width: 50px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}

/* full width to element */
.full-width{width: 100%;}

/* set element to relative position */
.position-relative{position: relative;}

/* hash tag */
.tag{display: block;cursor: pointer;}
/* Sitemap page */
.resources-centre-main{height: 650px;overflow-y:scroll;overflow-x:hidden; margin: 20px 0px 60px 0px;}

.date{font-size:12px;}
.date-yellow{font-family:MyriadPro-Bold;font-weight:bold;font-size:16px;color:#ecac2a;}
.sidebar-right-list{padding:10px 10px 10px 20px;}
.sidebar-right-list-even{background:#e2e3e4;}
.sidebar-right-list-mysites{padding-top:30px;padding-bottom:40px;padding-top:10px;}

/* For IE10+ hack */
@media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {  
   /* IE10+ specific styles go here */ 
   .view-btn{position: absolute;right: 0px;background: url(../img/plus-bullet.png) 0px 7px no-repeat;width: 70px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}
   .edit-btn{position: absolute;right: 0px;background: url(../img/minus-bullet.png) 0px 7px no-repeat;width: 50px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}
}

/* For Safari only hack */
@media screen and (-webkit-min-device-pixel-ratio:0) { 
    /* Safari only override */
    ::i-block-chrome,.view-btn{position: absolute;right: 0px;background: url(../img/plus-bullet.png) 0px 7px no-repeat;width: 70px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}
    ::i-block-chrome,.edit-btn{position: absolute;right: 0px;background: url(../img/minus-bullet.png) 0px 7px no-repeat;width: 50px;height: 29px;padding: 5px 0px 0px 20px;margin: 20px 0px 10px 0px;}  
}